/*
File Name: style.less
Date: 11/28/16
Programmer: Dillon Downey
*/

/*

This file contains the main stylesheet for this project.

*/

@import 'palette.less'; // Import palettes 1st so following stylesheets have access
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); // Import 2nd so following stylesheets have access
@import 'mixins.less'; // Import 3rd so following stylesheets have access

/*

MOBILE STYLESHEET

*/

body {
     background-color: @color3;
     .textProperties(@darkColor; 16px; normal; "Open Sans", Helvetica, Arial, sans-serif; 1.75em;);
}

header, nav, main, aside, footer {
     padding: 1em;
}

header {
     .textProperties(@darkColor; 2em; bold; "Open Sans", Helvetica, Arial, sans-serif; 1.75em;);
     background-color: @color5;
     text-align: center;
     letter-spacing: 2px;
     border-bottom: 2px solid @darkColor;

     h1 {
          margin: 0;
     }
}

nav {
     border-bottom: 2px solid @darkColor;
}

nav, footer {
     padding: 0;
     background-color: @color1;
     letter-spacing: 1px;

     h2 {
          .textProperties(@color5; 1.5em; bold; "Open Sans", Helvetica, Arial, sans-serif; 1em;);
     }

     ul {
          padding: 0;
     }

     li {
          list-style-type: none;
          text-align: center;
          padding: 1em;
          border-bottom: 2px solid @darkColor;


          a {
               text-decoration: none;
               .textProperties(@color4; 1.5em; normal; Georgia, Helvetica, Arial, san-serif; 1em;);
          }
     }
     &:last-of-type {
          border-bottom: none;
     }
}

main {
     .textProperties(@darkColor; 1.25em; normal; "Open Sans", Helvetica, Arial, sans-serif; 1.1em;);
}

aside {

}

footer {
     border-top: 2px solid @darkColor;

     h2 {
          padding-left: 1em;
     }
     li:first-of-type {
          border-top: 2px solid @darkColor;
     }
}

h1 {
     .headerFontAttributes(@darkColor; 1.8em);
}

h2 {
     .headerFontAttributes(@darkColor; 1.4em);
}

h3 {
     .headerFontAttributes(@darkColor; 1.1em);
}

h4 {
     .headerFontAttributes(@darkColor; .9em);
}

h5 {
     .headerFontAttributes(@darkColor; .85em);
}

h6 {
     .headerFontAttributes(@darkColor; .75em);
}

ul {
     list-style-type: disc;
     list-style-position: inside;
     padding-left: 1em;
}

li {
     line-height: 1.5em;
}

figure {
     background-color: @color4;
     border: 1px solid @darkColor;

     figcaption {
          padding-left: 1em;
          padding-top: .25em;
          padding-bottom: .25em;
     }
}

img {
     padding: 1em;
     padding-bottom: 0;
}

p {
     margin-left: .5em;
     margin-right: .5em;
}

p, h1, h2, h3, h4, h5, h6 {
     margin-top: 1em;
     margin-bottom: 1em;
}





/*

TABLET STYLESHEET

*/

@media screen and (min-width: 481px) {

}








/*

DESKTOP STYLESHEET

*/

@media screen and (min-width: 1025px) {

}
